/*
 * Common stuff
 */

html {
    height: 100%;
}

body {
	font-family: "Ubuntu", "Lucida Sans Unicode", "Lucida Grande", "Arial";
    height: 100%;
}

a:link, a:visited {
        text-decoration: none;
}
a:link {
        color: #0894a6;
}
a:visited {
        color: #066d7b;
}
a.video-link {
	padding-right: 18px;
	background: url(../img/video-icon.png) no-repeat right;
}

body h1 {
	font-size: 24px;
}

body h2 {
	font-size: 20px;
	padding-top: 6px;
	color: #65a59f;
}


.hidden {
	display: none;
}
.highlighted {
	background: #FF0;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
}
.footerwrapper, .push {
    height: 120px;
}

body.main {
	padding: 0;
	margin: 0;
}

body p {
	line-height: 200%;
}

#headeraidrlogo {
	margin-top: 10px;
	border-radius: 0px;
	padding: 8px;

}

body.main #headerwrapper {
	background-color: #00a79d;
	opacity: 0.9;
	height: 130px;
	width: auto;
	margin: 0;
	padding: 0;
}

body.main #headerwrapper #header {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

body.main {
	background: #c3e3e2 url(../img/aidr-bg-clouds.jpg) repeat-x;
}

body.main #mainwrapper {
	margin: 0 auto;
	padding: 1em;
}

body.main #mainwrapper #main {
	padding: 1em;
	border-radius: 12px;
	margin: 0 auto;
	width: 960px;
	background: white;
}

body.main .footerwrapper {
	background-color: #464646;
	height: 120px;
	width: auto;
	margin: 0;
	padding: 0;
}

body.main .footerwrapper .footer {
	width: 960px;
	padding: 1em;
	margin: 0 auto;
	font-size: 0.8em;
	color: white;
	text-align: right;
}

.footerqcrilogo {
    padding-left: 0.4em;
}

.footer a:link,
.footer a:visited {
	color: white;
}

.footer a {
    text-decoration: none;
}

.footer a.underlined {
    text-decoration: underline;
}

/*
 * Main page
 */

#mainlead {
        font-size: 110%;
}

#introtable {
        border-spacing: 10px;
}
#introtable td {
        vertical-align: top;
        border: solid 1px #0ba99f;
        border-radius: 10px;
        padding: 8px 8px 8px 8px;
}
#introtable .disabled {
        background: url(../img/gray_and_white_diagonal_stripes_background_seamless.gif);
        opacity: 0.8;
        filter:alpha(opacity=80);
        border: solid 1px #bbb;
}
#introtable .disabled a:link,
#introtable .disabled a:visited {
        color: #333;
}
#introtable .introlead {
        font-size: 120%;
        height: 1.8em;
        padding: 18px 0px 18px 0px;
}
#introtable .introlead a:link, #introtable .introlead a:visited {
        text-decoration: underline;
}
#introtable .introlead big {
        font-size: 110%;
}
#introtable .intropara {
        line-height: 1.8em;
        padding: 16px 0px 32px 0px;
}
#featured {
        text-align: center;
        padding-top: 32px;
}

#log {
    overflow: auto;
    width: 320px;
    height: 165px;
    margin-right: 8px;
    float: left;
}

#log p {
    margin: 0;
    padding: 0;
}
#log .info {
    color: #4d4d4d;
    font-weight: bold;
    font-size:14px;
}

#log .header{
    color: #00a79d;
}

#log .msg {
    margin-left: 10px;
    color: #6e6e6e;
    font-weight: normal;
    font-size:0.70em;
}
#log .tweet {
    font-size:12px;
}
.border {
    border: 2px solid rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    background-color: white;
}

@-webkit-keyframes colours {
 0% {color: #0ba99f;}
 25% {color: #6e6e6e;}
 50% {color: #f8cb4a;}
 75% {color: #c3e3e2;}
100% {color: #066d7b;}

}
@-moz-keyframes colours {
      0% {color: #0ba99f;}
 25% {color: #6e6e6e;}
 50% {color: #f8cb4a;}
 75% {color: #c3e3e2;}
100% {color: #066d7b;}

}

#alert {
    font-size: 20px;
    padding-top: 15px;
    line-height: 1.8em;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: colours;
    -webkit-animation-timing-function: ease;
    -moz-animation-direction: normal;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: colours;
    -moz-animation-timing-function: ease;
}
.dataFeedheader{
    color: #00a79d;
    font-size: 1.2em;
}
.dataFeedheader2{
    color: #00a79d;
    font-size: 1.0em;
    line-height: 250%;
    font-weight: bold;
}
