/*
 * Common stuff
 */

html {
    height: 100%;
}

body {
	font-family: "Ubuntu", "Lucida Sans Unicode", "Lucida Grande", "Arial";
    height: 100%;
}

a:link, a:visited {
        text-decoration: none;
}
a:link {
        color: #0894a6;
}
a:visited {
        color: #066d7b;
}

body h1 {
	font-size: 24px;
}

body h2 {
	font-size: 20px;
	border-top: solid 1px #77c2bb;
	padding-top: 6px;
	color: #65a59f;
}

.hidden {
	display: none;
}
.highlighted {
	background: #FF0;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
}
.footerwrapper, .push {
    height: 120px;
}

body.main {
	padding: 0;
	margin: 0;
}

body p {
	line-height: 200%;
}

#headeraidrlogo {
	margin-top: 10px;
	border-radius: 0px;
	padding: 8px;

}

body.main #headerwrapper {
	background-color: #00a79d;
	opacity: 0.9;
	height: 130px;
	width: auto;
	margin: 0;
	padding: 0;
}

body.main #headerwrapper #header {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

body.main {
	background: #c3e3e2 url(../img/aidr-bg-clouds.jpg) repeat-x;
}

body.main #mainwrapper {
	margin: 0 auto;
	padding: 1em;
}

body.main #mainwrapper #main {
	padding: 1em;
	border-radius: 12px;
	margin: 0 auto;
	width: 960px;
	background: white;
}

body.main .footerwrapper {
	background-color: #464646;
	height: 120px;
	width: auto;
	margin: 0;
	padding: 0;
}

body.main .footerwrapper .footer {
	width: 960px;
	padding: 1em;
	margin: 0 auto;
	font-size: 0.8em;
	color: white;
	text-align: right;
}

.footerqcrilogo {
    padding-left: 0.4em;
}

.footer a:link,
.footer a:visited {
	color: white;
}

.footer a {
    text-decoration: none;
}

.footer a.underlined {
    text-decoration: underline;
}

/*
 * Main page
 */

#mainlead {
        font-size: 110%;
}

#introtable {
        border-spacing: 10px;
}
#introtable td {
        vertical-align: top;
        border: solid 1px #0ba99f;
        border-radius: 10px;
        padding: 8px 8px 8px 8px;
}
#introtable .disabled {
        background: url(../img/gray_and_white_diagonal_stripes_background_seamless.gif);
        opacity: 0.8;
        filter:alpha(opacity=80);
        border: solid 1px #bbb;
}
#introtable .disabled a:link,
#introtable .disabled a:visited {
        color: #333;
}
#introtable .introlead {
        font-size: 120%;
        height: 1.8em;
        padding: 18px 0px 18px 0px;
}
#introtable .introlead a:link, #introtable .introlead a:visited {
        text-decoration: underline;
}
#introtable .introlead big {
        font-size: 110%;
}
#introtable .intropara {
        line-height: 1.8em;
        padding: 16px 0px 32px 0px;
}
#featured {
        text-align: center;
        padding-top: 32px;
}

