
.carousel {
	width:100%;
	position:relative;
	overflow:hidden;
	z-index:1;
	background-color:#fff;
	margin:0 auto 13px;
}

.carousel table {
	 float:left;
	 position:relative;
	 height: 400px;
	 padding-top: 5px;

}

.carousel td{
	 vertical-align: top;

}

.carousel td p{
	 font-size: 0.9em;
	 padding-right: 10px;
}


.carouselMin {
	padding-left: 3px;
	width:97%;
	position:relative;
	overflow:hidden;
	z-index:1;
	background-color:#fff;
	margin:0;
}

#livefeed {
	border: solid thin #d0e0d0;
}

#livefeed legend {
	margin-left: 20px;
	color: #fff;
	background: white;
	padding: 4px;
}

.slidePageInFromLeft {
  -webkit-animation: slidePageInFromLeft .8s cubic-bezier(.01,1,.22,.99) 1 0.25s normal forwards;
  -o-animation: slidePageInFromLeft .8s cubic-bezier(.01,1,.22,.99) 1 0.25s normal forwards;
  animation: slidePageInFromLeft .8s cubic-bezier(.01,1,.22,.99) 1 0.25s normal forwards
}

.openpage {
  -webkit-animation: rotatePageInFromRight 1s cubic-bezier(.66,.04,.36,1.03) 1 normal forwards;
  -o-animation: rotatePageInFromRight 1s cubic-bezier(.66,.04,.36,1.03) 1 normal forwards;
  animation: rotatePageInFromRight 1s cubic-bezier(.66,.04,.36,1.03) 1 normal forwards
}


/*======================= media queries for animations =======================*/

@media screen and (min-width: 64em) {
@keyframes fadeInForward {
	 80% {
		opacity: 0.9
	 }

	 100% {
		-webkit-transform: translateZ(0) scale(1) translateX(-2em);
		-ms-transform: translateZ(0) scale(1) translateX(-2em);
		-o-transform: translateZ(0) scale(1) translateX(-2em);
		transform: translateZ(0) scale(1) translateX(-2em);
		opacity: 1
	 }
}
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

.clearfix {
  *zoom: 1
}

.dashboard {
  margin: 0 auto;
  width: 100%;
}

/* Omitted from this version */

.dashboard-animated {
  opacity: 0;
  -webkit-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-animation: start 1s ease-out forwards;
  -o-animation: start 1s ease-out forwards;
  animation: start 1s ease-out forwards
}

@-webkit-keyframes start {
  0% {
	 -webkit-transform: translateX(200px);
	 opacity: 0
  }

  50% {
	 opacity: 1
  }

  100% {
	 -webkit-transform: translateX(0);
	 opacity: 1
  }
}

@keyframes start {
  0% {
	 -webkit-transform: translateX(200px);
	 -ms-transform: translateX(200px);
	 -o-transform: translateX(200px);
	 transform: translateX(200px);
	 opacity: 0
  }

  50% {
	 opacity: 1
  }

  100% {
	 -webkit-transform: translateX(0);
	 -ms-transform: translateX(0);
	 -o-transform: translateX(0);
	 transform: translateX(0);
	 opacity: 1
  }
}


.r-page {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  position: absolute;
  right: 0;
  top: 0;
  left:0;
  bottom:0;
  opacity: 0;
  color: white;
  z-index: 10;
  padding:10px;

  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transform: rotateY(-90deg) translateZ(5em);
  -ms-transform: rotateY(-90deg) translateZ(5em);
  -o-transform: rotateY(-90deg) translateZ(5em);
  transform: rotateY(-90deg) translateZ(5em)
}


.page-content{
  overflow-y:auto;
  max-height:100%;
  font-size:.6em;
  padding:.6em;
  text-align:left;
}
/*default colors just in case you don't define these colors on the tiles*/
.r-page{
  background-color: white;
  color:black;
}

.tile {
  float: left;
  margin: 0 auto 1%;
  color: white;
  font-size: 1.3em;
  text-align: center;
  height: 8em;
  font-weight: 300;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  color: #333;
  position: relative;
  -webkit-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out
}



.tile-small {
  width: 176px;
  height:155px;
  margin-right: 1.19%
}

.tile-small.last {
  margin-right: 0
}

.tile div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  padding: 0 1em;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

.tile div p {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.8em;
}

/*styling the individual tiles*/

.tile-1 {
  background-color: #65a59f;
  color: white;
}

.tile-1 a:link {
		  color: #03433b;
		  font-weight: bold;
		  text-decoration: underline;
}
.tile-1 a:visited {
		  color: #03433b;
		  font-weight: bold;
		  text-decoration: underline;
}
/* slide text inside tile up */

.slideTextUp div:nth-child(2) {
  top: 100%
}

.slideTextUp:hover div {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%)
}

.tile-1 .p2 {
  font-size: 0.85em;
}

.tile-1 .p2 a:link, .tile-1 .p2 a:visited {
  color: white !important;
}

.tile-1 p {
  padding: 1.5em 0em
}

/*======================= media queries =======================*/


@-o-keyframes start {
  0% {
	 -webkit-transform: translateX(200px);
	 opacity: 0
  }

  50% {
	 opacity: 1
  }

  100% {
	 -webkit-transform: translateX(0);
	 opacity: 1
  }
}

/*======================= loading : when output is fixed, place back background:#fff url(../img/ajax-loader.gif) no-repeat center center;  =======================*/
#dvLoading
{
	height: 100px;
	width: 100px;
	position: relative;
	z-index: 1000;
	left: 50%;
	top: 50%;
	margin: 15px 0 0 -25px;
}

