
# To work, this requires AllowOverrride ... in the global server configuration.

# Redirects (all must start with /r/ for consistency)
RedirectMatch 301 /r/data	http://aidr-prod.qcri.org/AIDRFetchManager/public.jsp
RedirectMatch 301 /r/api	https://github.com/qcri-social/AIDR/wiki/API-documentation
RedirectMatch 301 /r/clickers	http://clickers.micromappers.org/
RedirectMatch 301 /r/develop	https://github.com/qcri-social/AIDR
RedirectMatch 301 /r/devwiki	https://github.com/qcri-social/AIDR/wiki
RedirectMatch 301 /r/install	https://github.com/qcri-social/AIDR/wiki/Installation-instructions
RedirectMatch 301 /r/learn	https://github.com/qcri-social/AIDR/wiki/AIDR-Overview
RedirectMatch 301 /r/science	https://github.com/qcri-social/AIDR/wiki/The-science-behind-AIDR
RedirectMatch 301 /r/manual	http://booki.flossmanuals.net/aidr/
RedirectMatch 301 /r/test       http://aidr-prod.qcri.org/AIDRFetchManager/
RedirectMatch 301 /r/tos	https://github.com/qcri-social/AIDR/wiki/Terms-of-service
RedirectMatch 301 /r/credits	https://github.com/qcri-social/AIDR/wiki/Credits
RedirectMatch 301 /r/video-overview	https://www.youtube.com/watch?v=pqI2qcigiCw
RedirectMatch 301 /r/video-walkthrough	https://www.youtube.com/watch?v=bjeXxUMdvaQ

# Non-standard redirects
RedirectMatch 301 /www-demo-video	https://www.youtube.com/watch?v=QOcCFZXsBZw
