
# To work, this requires AllowOverrride All in the global server configuration.

# Redirects (all must start with /r/ for consistency)
RedirectMatch 301 /r/api	https://github.com/qcri-social/AIDR/wiki/API-documentation
RedirectMatch 301 /r/clickers	http://micromappers.org/
RedirectMatch 301 /r/develop	https://github.com/qcri-social/AIDR
RedirectMatch 301 /r/install	https://github.com/qcri-social/AIDR/wiki/Installation-instructions
RedirectMatch 301 /r/learn	http://aidr.qcri.org/intro/
RedirectMatch 301 /r/manual	https://github.com/qcri-social/AIDR/wiki/Operator%27s-manual
RedirectMatch 301 /r/test	http://aidr-dev.qcri.org/AIDRFetchManager/
RedirectMatch 301 /r/tos	http://aidr.qcri.org/tos/

RedirectMatch 301 /www-demo-video	https://www.youtube.com/watch?v=QOcCFZXsBZw
